<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabasePath" value="D:\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Restaurant.mdb" />
    <add key="SQLconnectionString" value="Data Source=DESKTOP-68S5ASO;Initial Catalog=Restaurant;User ID=sa;Password=e4599617" />
    <add key="ChildTable" value ="Angajati"/>
    <add key="ParentTable" value="Departamente"/>
  </appSettings>
  <connectionStrings>
    <add
      name="SQLconnectionString"
      connectionString="Data Source=DESKTOP-68S5ASO;Initial Catalog=Restaurant;User ID=sa;Password=e4599617"
      providerName="System.Data.SqlClient"
  />
  </connectionStrings>

</configuration>


